# JetBrains folder
.idea

# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production folder
dist

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# draft
draft.txt
draft.cpp
draft.html
draft.css