.delivery {
  background-image: url(../assets/icons/bg-line.svg);

  &-block {
    padding: 35px 80px 70px 80px;
    @include bs-card;
  }
}

@include media-breakpoint-down(sm) {
  .delivery {
    &-block {
      padding: 36px 16px;
    }
  }
}
