.img-logo-adaptiv {
  max-width: 100%;
  height: auto;
  @include adaptiv-img(155, 58);
}

.phone-number {
  padding-left: 12px;
}

.color-accent {
  color: $color-accent;
}

.header-page {
  background: url("../assets/img/front-view-black-red-caviar-with-toast-with-butter-plate-with-cup-coffee.jpg")
    top / cover no-repeat;
}

.first-page {
  &__action {
    max-width: 300px;
    background: linear-gradient(
      108.7deg,
      #ffffff 5.27%,
      rgba(255, 255, 255, 0.51) 102.68%
    );
    border-radius: 10px;
  }
}
