.second-page {
  padding-top: 100px;
  padding-bottom: 100px;

  &-block {
    @include bs-card;
    @include media-breakpoint-down(lg) {
      max-width: 330px;
      display: flex;
      justify-content: center;
    }
  }

  &-img {
    @include bg-img(
      "../../src/assets/img/second-page-img.jpg",
      $background-position: left
    );
  }

  &-mobile-card {
    max-width: 300px;
  }

  &-btn {
    padding: 1.125rem 1rem;
  }

  &-title {
    margin-top: 10.625rem;
  }
}
