// It`s an attempt add class fw-medium

// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/utilities";

// $utilities: map-merge(
//   $utilities,
//   (
//     "font-weight": (
//       property: font-weight,
//       class: fw,
//       values: (
//         medium: $font-weight-medium,
//       ),
//     ),
//   )
// );

.fw-medium {
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: "Century";
  src: url(../assets/fonts/Century-Normal.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../assets/fonts/Gilroy-Medium.woff") format("woff"),
    url("../assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../assets/fonts/Gilroy-Regular.woff") format("woff"),
    url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../assets/fonts/Gilroy-Light.woff2") format("woff2"),
    url("../assets/fonts/Gilroy-Light.woff") format("woff"),
    url("../assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.gilroy {
  font-family: "Gilroy";
}

$texts: (
  // 64px
  "1": "4rem",
  // 36px
  "2": "2.25rem",
  //32px
  "3": "2rem",
  // 24px
  "4": "1.5rem",
  // 20px
  "5": "1.25rem",
  // 18px
  "6": "1.125rem",
  // 14px
  "7": "0.875rem"
);

@each $number, $size in $texts {
  .text-#{$number} {
    @include font-size($size);
  }
}

// mixin
// .text-1 {
//   @include font-size(4rem);
// }
// .text-2 {
//   @include font-size(2.25rem);
// }
