@mixin adaptiv-img($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 992px) {
    width: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / #{$maxWidth})
    );
  }
  @media (min-width: 992px) {
    width: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
