// утворення корінних перемінних
//  :root {
//   --bs-primary: black;
// }

.btn-primary {
  // якщо за дизайном при найменшому та найбальшому екранах розмір кнопки однаковий та незмінний, чи може це і є той самий випадок, коли можна задати жорсткі параметри height та width?

  height: 70px;
  min-width: 300px;
  max-width: 300px;
  --bs-btn-bg: #{$color-accent};
  --bs-btn-border-color: #{$color-accent};

  --bs-btn-hover-bg: #{shade-color($color-accent, 15%)};
  --bs-btn-hover-border-color: #{shade-color($color-accent, 15%)};

  --bs-btn-active-bg: #{shade-color($color-accent, 25%)};
  --bs-btn-active-border-color: #{shade-color($color-accent, 25%)};
}

.btn-outline-dark {
  height: 70px;
  width: 300px;
  @include button-outline-variant(
    $font-color-black,
    $active-background: $color-accent-darknest,
    $active-border: $color-accent-darknest
  );
  box-shadow: inset 0px 0px 0px 2px $font-color-black;

  &:hover {
    box-shadow: inset 0px 0px 0px 2px $color-accent-darknest;
  }
}
