// BUTTONS
.btn-primary {
  padding: 18px 24px;
  --bs-btn-bg: #{$color-accent};
  --bs-btn-border-color: #{$color-accent};

  --bs-btn-hover-bg: #{shade-color($color-accent, 15%)};
  --bs-btn-hover-border-color: #{shade-color($color-accent, 15%)};

  --bs-btn-active-bg: #{shade-color($color-accent, 25%)};
  --bs-btn-active-border-color: #{shade-color($color-accent, 25%)};
}

.btn-outline-dark {
  padding: 18px 24px;
  @include button-outline-variant(
    $font-color-black,
    $active-background: $color-accent-darknest,
    $active-border: $color-accent-darknest
  );
  box-shadow: inset 0px 0px 0px 2px $font-color-black;

  &:hover {
    box-shadow: inset 0px 0px 0px 2px $color-accent-darknest;
  }
}

// NAV
.navbar {
  --bs-navbar-toggler-icon-bg: url("../assets/icons/navbar-icon.svg");

  &-toggler {
    border: none;
  }
}

//ACCORDION
.accordion {
  --bs-accordion-btn-icon: url(../assets/icons/akar-icons-plus.svg);
  --bs-accordion-btn-active-icon: url(../assets/icons/akar-icons-minus.svg);
  --bs-accordion-border-width: 0px;
}

.accordion-button:not(.collapsed) {
  color: $font-color-black;
  background-color: $background-color-white-clean;
  box-shadow: none;
}

//FOOTER INPUT
.form-control {
  font-size: 1.125rem;
  font-weight: 300;

  color: $background-color-white-clean;

  background-color: $font-color-black;

  border: 1px solid $background-color-white-clean;
}
