/* COLOR GROUP */
$font-color-black: #151515;
$background-color-white: #f5f5f5;
$background-color-white-clean: #fff;
$background-color-weight: #f4f4ff;

$color-accent: #ee4c1f;
$color-accent-darknest: #ca3a12;
$color-block-background: #fafafd;
$gradient-white: linear-gradient(
  109deg,
  #ffffff 5%,
  rgba(255, 255, 255, 0.51) 103%
);

$max-width-adaptive-images: 1440;

$z-index-action-section-bg: -1;
