/* COLOR GROUP */
$font-color-black: #151515;
$grey: #969696;
$color-accent: #ee4c1f;
$color-accent-darknest: #ca3a12;
$color-patent-background: #f4f4ff;
$color-block-background: #fafafd;
$gradient-white: linear-gradient(
  109deg,
  #ffffff 5%,
  rgba(255, 255, 255, 0.51) 103%
);
$white: #fff;

$max-width-adaptive-images: 1440;
